{% extends 'base.html' %}

{% block title %}
<title>Settings</title>
{% endblock %}

{% block body %}

<style>
img {
  border-radius: 50%;
}

</style>

<div style='margin:5rem;display:flex; align-items:center;' class="row">
<div style='width:200px; margin-right:5rem;' class="block">

  <h3>Create Driver</h3>


            <form action="/adddriver" target="_self" method="POST"  enctype="multipart/form-data">
            <br>
            <input type="file" name="file" required>
            <br><br>
            <input type="text" name="username" placeholder="Driver Name"  required>
          <br> <br>
          <input type="email" name="email" placeholder="Email"  required>
          <br> <br>

           <input type="password" name="password" placeholder="Password"  required>
          <br> <br>

            <input name="upload" type="submit" value="Submit">

            </form>
        </div>


                <div style='margin-top:3rem; display:flex; align-items:center;' class="row">

<div style=' width:300px;' class="block">
  <table>
     <base>

       <tr>
       <th scope="col">ID</th>
       <th scope="col">Image</th>
         <th scope="col">Username</th>
         <th scope="col">Email</th>

          <th scope="col">Action</th>


       </tr>


{% for row in rows %}
  <tr>

      <td>{{ row.id }}</td>

       <td><img src="https://www.wheels.works/static/uploads/{{ row.file }}"  width="30" height="30"></td>
      <td>{{ row.username }}</td>
        <td>{{ row.email }}</td>







    <td><form action="/{{ row.id }}/deletedriver" method="POST"> <button name="email" value="{{ row.email }}" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button></form></td>

        </tr>

    </tr>
{% endfor %}


</div>

{% endblock %}
</table>



  </div>
</div>












