{% extends 'base.html' %}

{% block title %}
<title>Settings</title>
{% endblock %}

{% block body %}


<div style='margin:3rem; display:flex; align-items:center;' class="row">
<div style=' width:200px; margin-right:5rem;' class="block">

  <h3>Create Store</h3>


            <form  action="/addbranch" target="_self" method="POST"  enctype="multipart/form-data">
           <br>
            <input type="file" name="file" required>
            <br><br>
            <input type="text" name="title" placeholder="Merchant Name"  required>
          <br> <br>
          <input type="text" name="address" placeholder="Bussines Address"  required>
          <br> <br>


            <input name="upload" type="submit" value="Submit">

            </form>
        </div>



<div style=' width:300px;' class="block">
  <table>
     <base>

       <tr>
       <th scope="col">ID</th>
       <th scope="col">Logo</th>
         <th scope="col">Store</th>
         <th scope="col">Menu</th>
          <th scope="col">Action</th>

       </tr>


{% for row in rows %}
  <tr>

      <td>{{ row.id }}</td>
       <td><img src="https://polskoydm.pythonanywhere.com/static/uploads/{{ row.file }}"  width="30" height="30"></td>
      <td>{{ row.name }}</td>
    <td><a style='text-decoration:none;'href="/{{ row.token }}/item">Show</i></a></td>
    <td><form action="/settings/{{ row.id }}/delete" method="POST"> <button style="margin-top:5px;"  name="delete" value="{{ row.file }}" type="submit"><i class="fa fa-trash-o"></i></button></form></td>

        </tr>

{% endfor %}


</div>

{% endblock %}
</table>



  </div>
</div>

