
{% block content %}
  <div class="thank-you">
    <h1>Thank you for your order!</h1>
    <p>We have received your order and will process it shortly.</p>
    <img src="https://img.freepik.com/premium-vector/handshake-icon-background-business-finance-symbol-successful-transaction-vector-illustration-flat-style-design_153097-1906.jpg?w=2000" alt="Thank you image">
  </div>

  <style>
    .thank-you {
      max-width: 600px;
      margin: auto;
      text-align: center;
      padding: 50px 20px;
    }

    .thank-you h1 {
      font-size: 2.5em;
      margin-bottom: 20px;
    }

    .thank-you p {
      font-size: 1.2em;
      margin-bottom: 30px;
    }

    .thank-you img {
      max-width: 100%;
      height: auto;
    }
  </style>
{% endblock %}
